@media screen and (max-width: 1024px) {
	.header .nav {
		padding: 35px 5%;
	}
	.service__subtitle {
        padding: 0 45px;
    }
}
@media screen and (max-width: 960px) {
	.header .nav {
		&__logo {
			width: 60px;
			height: 60px;
		}
	}
	.container--service {
    	width: 100%;
	}
	.logo__links {
		display: none;
	}
	.burger {
		display: block;
		right: 10%;
		top: 35%;
	}
	.header .nav {
		padding: 35px 10%;
	}

}
@media screen and (max-width: 768px) {
	.header .nav {
		padding: 10px 15%;
	}
	.burger {
		right: 15%;
	}
	.header__title {
		font-size: 5.5rem;
	}
	.header__subtitle {
		font-size: 2rem;
	}

	.container--footer {
		flex-direction: column;
		align-items: center;
	}
	.form{
	&__star--email {
    	left: 4%;
    	top: 20%;
	}
	&__star--text {
		top: 40%;
	}
	&__input {
		width: 100%;
	}
	&__input:first-of-type { 
		margin-bottom: 20px;
		}
	}
	.container--service {
		grid-template-columns: 1fr;
    	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    	width: 100%;
    	padding-bottom: 50px;
	}
	.service__item {
		padding-bottom: 0;
		&--graf {
            grid-area: 1 / 1 / 2 / 2;
        }
        &--web {
            grid-area: 5 / 1 / 6 / 2;
        }
        &--seo {
            grid-area: 2 / 1 / 3 / 2;
        }
        &--mobile {
           	grid-area: 3 / 1 / 4 / 2;
        }
        &--service {
        	grid-area: 4 / 1 / 5 / 2;
            
            padding: 115px 15px 50px 15px;
        }
	}
	.service__subtitle--service {
			margin: 50px 0 0 0;
	}
	.location__btn {
		width: 60px;
		height: 60px;
		bottom: 10%;
	}
	.form__btn {
		width: 220px;
	}
	.container--about {
		flex-direction: column;
	}
	.about {
		padding: 50px 0px;
		&__pic,
		&__content {
		width: 100%;
		}
		&__content {
		padding: 5% 10%;
		}
		&__pic {
			height: 450px;
		}
	}
	.service__card-font {
        max-height: 610px;
    }
}
@media screen and (max-width: 560px) {
	.header__title {
		font-size: 4rem;
	}
	.works {
		padding: 70px 0;
	}
	.slick-arrow {
		display: none;
	}
	.container--works {
		width: 100%;
	}
	.container--team {
		width: 100%;
	}
	.arrow--right {
		right: 30%;
	}
	.arrow--left {
		left: 30%;
	}
	.arrow {
		top: 110%;
		display: block;
	}
}
@media screen and (max-width: 480px) {
	.footer__copyright {
		font-size: 1.3rem;
	}
	.footer {
		padding: 75px 0px;
	}
	.container--footer {
		padding: 0;
	}
	.header__title {
		font-size: 3rem;
	}
}
